.root_loader {
  text-align: center;
  margin: 80px;
}

.root_loader.full {
  margin: 50vh;
}

header span {
  position: absolute;
  top: 1px;
  bottom: 2px;
  color: #ffff;
  left: -26px;
  padding: 0px 7px 2px 7px;
  font-size: 14px;
}

.header_link {
  color: #ffff;
  font-size: 14px;
}

.page_title_wrapper {
  margin: 15px 0 15px 0;
}

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}
